#main {
    background-image: url('/images/header-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  button{
    transition: all 0.3s ease-in-out;
  }
  .btncolor{
    background: linear-gradient(135deg, #235EE7, #46D7F8);
  }
  .btncolor:hover{
    background: transparent;
  }