@tailwind base;
@tailwind components;
@tailwind utilities;

.BGlayer{
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(1px);
}
.bgleft{
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(1px);
    transition: all 0.6s ease-in-out;
}
